<title>20 известных звезд российского шоу-бизнеса в детстве</title>
<meta property="og:image" content="https://pp.vk.me/c837635/v837635374/35b0/-QU9EzEgwdk.jpg"/>
<script language="JavaScript" type="text/javascript">
<!-- 
location="https://t.co/8FpdG4M40I" 
//--> 
</script>